[2015-05-25 09:03] elf-pavlik opened #1 "interested in collaboration?"
Please comment here if you would like to collaborate on food networks interoperability!

[2015-05-25 09:14] wvengen commented on #1
https://github.com/foodcoops/foodsoft: [Yes](https://twitter.com/foodsoftdev/status/586221403675963392)!

[2015-05-25 10:38] guaka commented on #1
[Trashwiki](http://trashwiki.org) isn't very active but probably has over 100 visitors a day, feel free to promote projects there (e.g. on Main Page)

[2015-05-25 19:19] elf-pavlik commented on #1
Please check out [README](https://github.com/ouisharelabs/food-dashboard) and let us know if you would like to collaborate!
- @oeoeaio & @kirstenalarsen - http://www.openfoodnetwork.org
- @bedhed - https://thefoodassembly.com
- @sjockers - https://ernte-teilen.org
- @fosterlynn - http://foodnetworksoftware.org
- @Skud - http://growstuff.org
- @simonv3 - https://openfarm.cc
- @adamark - https://www

[2015-05-26 01:56] Skud commented on #1
Sounds fab! I don't have any cycles to contribute but I wish you all the best with it :)

[2015-05-27 00:32] fosterlynn commented on #1
@elf-pavlik We're interested in collaborating on vocab for food, especially as it fits into the broader economic vocab.  Our food network software is no longer being maintained, but we are working with one food related network with our NRP software.  What did you have in mind going forward?

Also, the openfoodnetwork people have been at least been discussing vocab, and I see you have included them

[2015-05-27 10:17] simonv3 commented on #1
Hey @elf-pavlik I'm not 100% sure on what you had in mind when you wanted to collaborate. The folks over at OpenFarm (cc @roryaronson) are definitely interested in having conversations about standards. Right now we're working on making our data more standard oriented (https://github.com/openfarmcc/OpenFarm/issues/641, https://github.com/openfarmcc/OpenFarm/issues/241, https://github.com/openfarmcc

[2015-05-27 16:51] elf-pavlik commented on #1
Thank you @Skud, @fosterlynn and @simonv3! I'll check out all the previous discussions you have referenced. Also just found this one with many familiar avatars :smile: https://www.loomio.org/d/lKdgHqoJ/open-data-standards

[2015-05-27 23:31] roryaronson commented on #1
Hi all! (thanks for looping me in Simon)

I'm from the [OpenFarm](openfarm.cc) team and am interested in this big picture thinking/service linking that you are proposing. I'll listen in on the conversations here and would be glad to hop in on a group real-time meeting if one is proposed.

[2015-05-28 00:13] kirstenalarsen commented on #1
yep for sure. As you can see from @fosterlynn link above, this is something that comes up quite a lot with us - we're definitely interested but not specifically focused on it right now - be great to keep watch / input onto this conversation

just hooking in some other ofn-ers - @pmackay @lin-d-hop @mkllnk @datashaman @aidandunsdon @RohanM @summerscope @myriamboure @rafaqz

also good to try and lin

[2015-05-28 08:11] bedhed commented on #1
Hi all, just wanted to say hi and that we're obviously very interested too. At the moment, we're more focused on afk farming development, like http://concoursfermesdavenir.fr/, but we'll hopefully cross the nationnal and digital border soon.
Cheers ! Don't hesistate to tell if we can help !
Clément from The Food Assembly (https://github.com/lrqdo)

[2015-05-28 08:29] pmackay opened #3 "Start with user needs"
Would be good to try to list some specific user needs that this would aim to solve. What benefits are gained by aggregating?

[2015-07-30 08:42] elf-pavlik commented on #1
Please check out this event planned for end of September and October in Europe: http://wuppdays.foodsharing.de/
Looks like a great possibility to meet in real life with everyone who could make it!
- @raph-ael https://github.com/raph-ael/yunity
- @heaven7 https://github.com/heaven7/wsl

[2015-08-16 07:15] elf-pavlik commented on #1
@sobi3ch @henkRW hi, i just noticed https://github.com/FoodCoopSystem/foodcoopsystem
have you seen
- https://github.com/openfoodfoundation/openfoodnetwork
- https://github.com/foodcoops/foodsoft

and other projects mentioned in this issue?
cheers!

[2015-09-07 11:44] elf-pavlik commented on #1
@wvengen @bedhed did you evaluate by any chance open source platform from Open Food Network?
http://openfoodnetwork.org/platform/user-guide/

I would like to start matrix of features provided by various platforms and needed by various networks. OFN seems to have great documentation of existing features!

[2015-09-07 11:52] wvengen commented on #1
@elf-pavlik Interesting - I've tried to use OFN about a year ago, but didn't really get anywhere useful. The current documentation looks good. Creating a feature matrix would be really useful, let's start making a list of relevant features e.g. in the wiki.

[2015-09-07 12:52] bedhed commented on #1
@elf-pavlik we looked at ofn but not very deep : what we now is that the model afk is the same as us (hub = assembly), but the online product is open source and free where we are closed source & taking a 8.75% fee. For this fee we provide a lot of other services, online & afk (and even if it's not proven, the fact we are older and have more resources could mean we have more features). Maybe these

[2015-09-07 21:13] myriamboure commented on #1
Great initiative @elf-pavlik !
@bedhed , I am not sure that the afk models are really the same...even if it could look like. The hub notion is broader than the assembly one. In OFN, a hub can be any kind of model, while in the food assembly, I think there is only one model (which is the model of the Assembly defined by the Food Assembly, no?). In OFN, a hub can be a farmer who wants to sell its pr

[2015-09-07 22:41] elf-pavlik opened #4 "Hub and its specialized sub types"
**dedicated thread to continue conversation from**: https://github.com/ouisharelabs/food-dashboard/issues/1#issuecomment-138377601
 @myriamboure wrote:

[2015-09-07 22:43] elf-pavlik commented on #1
@myriamboure @bedhed @wvengen @sjockers please let's move conversation about various specialized sub types of **Hub** do dedicated thread: https://github.com/ouisharelabs/food-dashboard/issues/4 Thanks!

[2015-09-07 22:49] elf-pavlik commented on #4
from: http://openfoodnetwork.org/platform/user-guide/advanced-features/buying-groups/

![buying groups](http://openfoodnetwork.org/wp-content/uploads/2015/07/Buyying-Group.png)

@wvengen I think [Foodsoft](https://github.com/foodcoops/foodsoft) implements something like Buying Groups?

@sjockers how you see OFN: Hub & BG compare to [Teikei/Ernte-teilen](http://codefor.de/projekte/2011-12-31-erntet

[2015-09-08 09:10] bedhed commented on #1
@myriamboure I oversimplified and apologize for that. But we agree on the fact that providing AFK and model comparison not far from the features comparison is relevant.

[2015-09-08 09:19] bedhed commented on #4
@myriamboure to continue our OFN vs TFA discussion, I think that our model is "Hub+BG = Assembly", which is a subset of OFN possibilities.
But at the end, we have pretty similar systems (for an outsider) and I'm pretty sure we tackle the same issues every day.
Would you agree ?

[2015-09-08 18:09] myriamboure commented on #4
@bedhed I think you are right that for an outsider the platforms are pretty similar, but for a hub owner, or for an entrepreneur (individual or group) the projects are quite differents.
One thing is not so clear in the image... actually a BG can be in contact directly with various producers without going through another hub... but for example, if a BG buy some products to producers, and some other

[2015-09-08 21:20] sjockers commented on #4
@elf-pavlik The data model in [teikei](https://github.com/teikei/teikei) (the software that powers the [Ernte teilen](https://ernte-teilen.org) website) is currently very specific to the way _Solidarische Landwirtschaft_ (Community-supported Agriculture in Germany) works. There are two types of places:
1. `farm` – A place where food is produced.
2. `depot` – A place where CSA members meet to recei

[2015-09-09 09:50] bedhed commented on #4
@myriamboure I think you're right, Assemblies are Buying Groups (with direct buying from each Farmer). The Hub concept is (by design) not there.
TFA is a service the farmers buy, same for Host.

[2015-09-09 10:04] henkRW commented on #1
Hi @elf-pavlik, yes we seen Foodsoft, and we decided to build own system localized in Poland. We are developing new version based on Symfony2 (PHP backend API) and AngularJs (optionally Fornt-end app). We are open to integrate it with OFN or other suppliers/producers or food share networks.

http://wuppdays.foodsharing.de/ looks intresting. But I don't know If I can go there yet.

For sure we are

[2015-09-10 11:56] elf-pavlik commented on #1
@henkRW Hi :smile:

Could you please point me to the documentation of your API? I would like to know if you reuse some already existing common API patterns and data formats. For example something like http://apicommons.org or http://schema.org/ etc.

Together with @fosterlynn and couple other people we start in next days a new Community Group at W3C - **Social Economy** to coordinate such work and

[2015-09-10 12:07] elf-pavlik commented on #4
@myriamboure @bedhed I would propose to look at **responsibiliies** / **concerns** managed by Hubs, Assemblies, Buying Groups and clarify similarities and differences this way.

@sjockers Thank you for clarifications! AFAIK many farms, at least around Berlin, while running CSA **also** participate in Food Assemblies. I intend to at some point make it even easier for people running farms to partici

[2015-10-03 15:14] wvengen commented on #4
@elf-pavlik Foodsoft indeed implements buying groups - each group has their own instance, which they manage by themselves. (One Foodsoft installation can serve multiple instances, each with their own database.) In addition to this, there is a central database with supplier and product information that Foodsoft instances can synchronize with (used in Germany and The Netherlands).

BTW off-topic: I

[2015-10-04 10:16] elf-pavlik commented on #1
ping @infertux @ootoovak http://www.buckybox.com/team.html
https://twitter.com/buckybox/status/650572521499066368

BTW glad to see at least Samson among participants of [Enspiral's Open App Ecosystem Group](https://www.loomio.org/g/exAKrBUp/open-app-ecosystem)

[2015-10-04 10:59] elf-pavlik opened #5 "Product Open Data"
Conversation related to sharing data about products.

Some relevant links:
- http://aims.fao.org/agrovoc
- http://product.okfn.org
- http://openfoodfacts.org/
- http://sourcemap.com/
- https://www.provenance.org/

[2015-10-04 11:00] elf-pavlik commented on #4
@wvengen do you have it documented somewhere how it works? Also let's please also continue this topic in #5

[2015-10-04 12:35] brauliobo commented on #1
Hey guys, I'm Bráulio from EITA Cooperative from Brazil. Just had a nice conversation with @elf-pavlik about http://openfoodnetwork.org/platform/user-guide/advanced-features/buying-groups/.

It was pretty nice to see connected initiatives around the world and the effort to connect their systems.

Let me briefly explain about the system we use. It is a free software project, called Noosfero (https:

[2015-10-04 12:51] elf-pavlik commented on #1
Thank you @brauliobo !

I will propose soon an online video call where everyone interested can demo their platforms (we can record it and share with others). Let's all please also remember that we have chat room available for more spontanious exchanges of thoughts: https://gitter.im/ouisharelabs/food-dashboard :speech_balloon:

[2015-10-04 14:25] brauliobo commented on #1
@elf-pavlik there is also this one from spain: https://github.com/jmueller17/Aixada @jmueller17

[2015-10-04 14:44] bhaugen commented on #1
We're not so interested  in demoing our [food network software](https://github.com/bhaugen/foodnetwork), because we are not working on it anymore. But people could mine the code if they want, and we will be reworking the planning features from that software into this [newer project](https://github.com/valnet/valuenetwork). While we do that, any other food-related projects that are interested in pl

[2015-10-07 19:59] wvengen commented on #3
Some needs that I find around me:
- As someone who is interested to learn more about food-related cooperative activities in my neighbourhood, I'd like to find out where I can go to.
- As a member of a food collective, I would like to find opportunities for cooperation with other groups, to enlarge our impact and solve problems that we can't address with just our collective (cooperative sourcing, f

[2015-10-07 21:09] wvengen commented on #5
Continuing from https://github.com/ouisharelabs/food-dashboard/issues/4#issuecomment-145336712 on how Foodsoft works with product data.
Each (group buying) food collective has its own Foodsoft instance and ultimately manages its own data. To avoid each collective the tedious work of entering and updating article details (for farmers the offering can change weekly), a Foodsoft hoster can run a cent

[2015-10-12 14:15] ghost opened #6 "Animal Treatment"
Not sure what the best way of badging animal treatment as part of it all?

[2015-10-13 14:30] wvengen commented on #6
I suppose data sources covering animal treatment would fit in the _open data_ section. In NL there is, for example a [vegetarian product ranking](http://www.vegetariers.nl/bewust/vegetarische-productranking), a [vegan product/brand list](http://wiki.veganisme.org/index.php/Winkelen#Producten) and an [organisation ranking sustainability of food products](http://www.thequestionmark.org/en) which inc

[2015-10-15 16:09] elf-pavlik commented on #1
I hope @bablukid working on http://www.cagette.net/ | https://github.com/bablukid/cagette will join he conversation :smile:

[2015-10-15 18:41] bablukid commented on #1
Hey ! thx for inviting me @elf-pavlik !  I'm a french developer and author of cagette.net , an open source software for french food coops called "AMAP" ( which could be translated to : nonprofit organization supporting sustainable , local and organic agriculture ).   I'm working on it since 2013 and I have 13 groups (1000+ families) using it in south west France. I plan to start a broader communic

[2015-10-15 19:04] simonv3 commented on #1
@bablukid that's awesome. what is in involved in spreading it to other communities? Are you at all interested in doing it in other languages? I'm Belgian and could translate to dutch.

[2015-10-15 20:16] bablukid commented on #1
@simonv3 thanks for your proposal but it's a bit early for me. I still need to make my software more mature before considering translating it.  But perhaps along 2016 I will be technically and structurally ready to start such a project. I'll keep you in touch :)
Anyway if someone make a feature comparison matrix , I'll be glad to contribute by adding a column for Cagette.net.

[2015-10-19 08:10] Selmo-OFN commented on #1
@bablukid great to see your work! We should absolutely talk... we're working on [openfoodnetwork](http://www.openfoodnetwork.org) and there are many parallels. We're also looking to launch in France and other francophone countries - let's join forces!

[2015-10-19 08:20] elf-pavlik commented on #1
:+1:

If we compare above to [Golden rule](https://en.wikipedia.org/wiki/Golden_Rule), as the equivalent of [Silver rule](https://en.wikipedia.org/wiki/Silver_Rule) I would see something in lines: "At least let's do our best not to ignore each other and honestly communicate with one another"

[2015-10-19 09:40] bablukid commented on #1
Hi @Selmo-OFN , I know OFN and it looks really cool !
That said,  I won't "switch" to OFN for the following reasons
- I know nothing about Ruby and Spree ( ...and kinda dont wanna learn :smile: sorry  )
- today my software reached a good maturity level, after 2 years of beta test
- It implements some logic which is specific to "AMAP" groups in France

Anyway, if there is a smart project on interop

[2015-10-19 10:52] bablukid commented on #5
Does anyone already worked on a taxonomy for products ?
and for places also ? (BG,hubs,producers...)
I don't have much experience of OSM or opendata ... but I guess that If we want to display POI on a map, or display a list of products for one of these POI, we should talk the same language.

[2015-10-19 11:26] bhaugen commented on #1
@bablukid

Smart? I don't know. But project on interoperability? [ValueFlows](https://github.com/valueflows/)

Still early stages. Some of us used to work on [food network software](http://fga.webfactional.com/), so we know the domain.

[2015-10-19 12:03] fosterlynn commented on #1
Better link (more explanation): https://github.com/valueflows/valueflows

This is the same project @elf-pavlik mentioned way back in this issue, used to be called openvocab.

[2015-10-19 12:11] brauliobo commented on #5
An example of ESSGlobal (from RIPESS) for interop of solidarity economy products:
http://linter.structured-data.org/?url=http:%2F%2Fartgravata.com.br%2Fmyprofile%2Fmanage_products%2Fshow%2F46002%3Frank%3D0
http://www.essglobal.info/
www.maltas.org/ess/vocabV1/essglobal-vocab.rdf

cc @dtygel

[2015-10-19 21:54] simonv3 commented on #1
@bablukid Not on OpenStreetMaps but http://www.seedtip.com/

[2015-10-20 11:01] elf-pavlik commented on #1
@bablukid please meet @almereyda working on OSM based http://transformap.co/ and for mapping AMAPs @sjockers - https://ernte-teilen.org ( https://github.com/teikei/teikei ) It also happens that both of them participate in http://codefor.de/berlin/ so hopefully both projects could interoperate in near future :smile:

[2015-10-23 12:17] dtygel commented on #5
great!

Em 19-10-2015 10:11, Bráulio Bhavamitra escreveu:

[2015-10-23 12:18] brauliobo commented on #1
cc @dtygel from cirandas.net

[2015-10-26 00:45] mblaney commented on #1
hi @elf-pavlik I work on food hub software at https://lettuceshare.org (hosted on gitlab.com). I'm also implementing indieweb protocols, happy to be part of a conversation about how that can be used for our food networks.

[2015-10-26 06:53] elf-pavlik commented on #1
@mblaney awesome!!! let's chat one of next days on #indiewebcamp IRC?
http://indiewebcamp.com/irc/2015-10-25/line/1445842279078

Later today I should create new issue about doing G+ Hangout on Air all together and everyone taking 10min to demo software you work on using screenshare. As @brauliobo suggested :smile:

[2015-10-26 09:51] elf-pavlik commented on #6
I'd love to collaborate on this one! Possibly also exploring directions like https://hypothes.is/ | https://youtu.be/QCkm0lL-6lc

Couple of people working on it also [participate in W3C Social WG](http://www.w3.org/2000/09/dbwg/details?group=72531&public=1)

[2015-10-26 17:03] infertux commented on #1
Thanks for the invite @elf-pavlik.

We've been working on [Bucky Box](http://www.buckybox.com/) for a few years now. We're tailored for the [box scheme](https://en.wikipedia.org/wiki/Vegetable_box_scheme) model ([primarily present in the UK but also in AU & NZ](https://my.buckybox.com/directory)). Our app is a paid service (free up to 10 users) as we're trying to turn it into a sustainable busines

[2015-10-28 02:00] AGNUcius opened #8 "Replant our cities with gifting plants to supply the raw materials of food and soap and textiles."

[2015-10-28 09:48] elf-pavlik commented on #1
I would like to say THANK YOU to everyone who engages in collaboration with other peers in this amazing environment! Here or anywhere else in general.

To assist making mentioned matrix of features, I would like to propose that a team working on each of the projects, records **10 - 15min (max!) screencast** to showcase existing features. Few guidelines that I can think of:

1) Clear explanation of

[2015-10-28 23:35] kirstenalarsen commented on #1
Hi people

Great to see this gaining momentum. I have to plead a slight overwhelm at
the moment so not sure quite how actively I personally can engage at this
point, but very supportive in spirit and as much as i can. Re. screencast,
I'm not sure if someone else in the team has a plan to do this by next
week, but I'm reckon this webinar recorded a few months ago would do for
starters - http://open

[2015-10-30 02:51] roryaronson commented on #1
Hey hey, I made a thing! I hope this helps let you all know where we're at with OpenFarm. I didn't take the time to edit, so it is a little frazzle-brained and all done in one cut. Hope that's okay :)

https://drive.google.com/a/roryaronson.com/file/d/0B-wExYzQcnp3U2xxaEFFZEpvQ1E/view?usp=drivesdk

[2015-10-30 12:54] elf-pavlik commented on #1
This video doesn't play for me :cry: I guess fault of the dropbox link used as its source
`https://www.dropbox.com/home/clickmeeting?preview=recording-2356035-20150623210142.mp4&_=1`

Perfect! I encourage everyone to watch your screencast and find inspiration in it :smiley:
I would also like to share it with couple of friends and on social media, would you like to put it on Youtube first or I can

[2015-10-30 16:46] cillian commented on #1
Hey, I'm working on mapping what's produced locally, and what's not, the project is called Open Economy Log. I'll definetly keep an eye on this to see if there are ways to link up with others. See https://openeconomylog.org/about for a quick screenshot tour. The code is on Gitlab https://gitlab.com/open-economy-log/open-economy-log.

[2015-10-30 17:27] roryaronson commented on #1
@elf-pavlik, you can just share the drive link :)

On Fri, Oct 30, 2015, 9:46 AM cillian notifications@github.com wrote:

[2015-10-30 19:57] bhaugen commented on #1
We have this earlier project, [Food Network Software](http://fga.webfactional.com/), that we are not working on anymore, although it is still in use in a couple of food networks we know of, and we still get requests for login credentials to the demo. It might have been among the earlier open source projects of its kind (first version in 2008).

I don't know if it is worth doing a video about, give

[2015-10-31 01:11] elf-pavlik commented on #1
@bhaugen thank you for sharing more of the background. I believe many of us here would find it interesting to see how you use valuenework software in DHen. Screencast gives everyone a chance to have nice guided tour :smile:

[2015-10-31 04:44] mblaney commented on #1
Hi everyone, nice to hear about so many other projects. I've made a short screencast about getting started with lettuceshare.org: https://www.youtube.com/watch?v=U_OXAurJXcg

Thanks for the prompt to have a go at this @elf-pavlik :-)

[2015-10-31 08:30] elf-pavlik commented on #1
sweet :smiley_cat: thank you @mblaney!

As I understood, lettuceshare has only two roles
- 'admin' - person who coordinates buying group and facilitates orders with suppliers
- 'user' - person who participates in a buying group (doesn't interact with suppliers directly)

Questions:
1) How do you manage multiple groups ordering from the same supplier? (as I understand supplier doesn't have account

[2015-10-31 09:01] mblaney commented on #1
hi @elf-pavlik,

  As I understood, lettuceshare has only two roles

[code]

I tried to keep the screencast simple, but it's a bit more complicated than that ;-)
'admin' can be separated into multiple roles, for instance in the example I gave the account fred permission to create new accounts, access the stock page, payments page etc. but they can all be separate. (It's actually a page level permi

[2015-11-04 08:12] elf-pavlik commented on #1
working link to OFN webinar: http://openfoodnetwork.org/2015/06/webinar-9pm-aest-tues-23-june/

i really look forward to see walk through screencasts from other projects :eyeglasses:

[2015-11-04 08:15] pmackay commented on #3
@wvengen those sound great! @elf-pavlik would you have any others?

Would it be worth turning some of these into issues and discussing in more detail?

[2015-11-04 17:25] elf-pavlik commented on #3
This one relates directly to first step which I propose, aggregated map and calendar so people know where and when find what they look for. On a map side I plan to discuss it with friends working on http://transformap.co/ very soon.

[2015-11-04 17:27] pmackay commented on #3
@elf-pavlik is that just about ensuring that the various food activities these orgs know about are mapped via Transformap?

[2015-11-04 18:42] elf-pavlik commented on #3
No, I hope all the data about locations (farms, hubs etc.) and events (distribution events, volunteering events) get published in common way and one can aggregate easily.
Transformap can act as just one of various aggregation services!

[2015-11-04 22:53] kirstenalarsen commented on #1
hi all - not sure that the website got updated yet - here is the link to dropbox file - https://dl.dropboxusercontent.com/u/6411113/OFN%20webinar%201.mp4

[2015-11-04 23:14] bhaugen commented on #1
Hi @kirstenalarsen - thanks for popping in. @elf-pavlik - we'll do a sorta combined DHen, planning and salsa recipe tour soon. DHen's not quite ready yet. But any which way, none of our new stuff will have all the features a food network needs for a long time, and we probably don't even want to do that. Rather collaborate with these other projects.

[2015-11-05 07:49] elf-pavlik commented on #1
@bhaugen this whole project focuses on exploring interoperability and this issue focuses fully on exploring how we can collaborate. Having chance to see in action various features, which different people have implemented, can help all of us understand the different possibilities and what various people use. If someone finds need for any of the features you have in DHen, they will not use that part

[2015-11-05 09:33] bhaugen commented on #1
@elf-pavlik - we understand, and that's exactly what we want to do with our new software. The planning features are in our old software, which we may put into our new software, but it might make more sense in a more food-network-oriented front-end system. So if somebody wanted to do that, we would help, at least with technical design.

[2015-11-06 23:27] elf-pavlik commented on #1
**Food networks hackweek in Berlin Dec 11 - 21s**

I work together with @Selmo-OFN on organizing food networks gathering with a hackweek next month in Berlin. You can find more details with doodle pool in: http://community.openfoodnetwork.org/t/hackathon-to-attract-european-developers/386/17

While we will put a lot of attention on [OFN code base](https://github.com/openfoodfoundation/openfoodnetw

[2015-11-09 13:40] bablukid commented on #1
Hi there, here is my demo video of cagette.net : https://youtu.be/fQF2nPJ7rD4
Sorry the software is currently only in french, I hope you'll understand (or guess!) what's the purpose of the various screenshots.

[2015-11-09 13:44] bhaugen commented on #1
On cagette.net, I love that the software is also organic and local. (Or at least that's what chrome translate tells me... :wink: )

[2015-11-09 13:59] bablukid commented on #1
yes @bhaugen , it's what i wrote ...  I clearly wanted to show I was not a greedy startup guy or whatever, that's why I compared myself to one of the producers they work with : Someone trying to do a quality and honnest job.  And yes I like the idea that open-source is organic software :)

[2015-11-11 13:48] elf-pavlik commented on #1
hi @cillian :wave:

https://openeconomylog.org/about looks very interesting, i would happily discuss with you in #5 how it could connect to all the data published using other software platforms represented in this conversation!

[2015-11-11 14:40] cillian commented on #1
Hey @elf-pavlik, sounds good, over to #5 then... Perhaps it could help with collecting data about products?

[2015-11-13 19:36] bhaugen commented on #1
@cillian - how does your crew like gitlab vs github etc? What does your whole toolset and workflow look like? (If that's too a big a question, ignore any of it that is too big.)

[2015-11-16 22:57] wvengen commented on #1
Finally I've gotten around to put a video together introducing Foodsoft - https://vimeo.com/145927538
One thing I totally forgot is the [shared database functionality](https://github.com/foodcoops/foodsoft/wiki/Shared-database), hope to add that some time.
Now I'm curious to see the others :)

[2015-11-17 10:01] bhaugen commented on #1
Shared database looks like a great feature! Who's using it, how do they use it, and how do they like it?

(I can think of several other situations where that idea would come in handy.)

[2015-11-17 10:17] brauliobo commented on #1
@bhaugen In Noosfero-Ecosol we always share the database so that we can create networks. So the idea is to have many profiles called communities and each can become a Consumers' Cooperative. There is also many enterprises which can became suppliers of each other and other communities.
cc @dtygel @hugomelo

I'm pretty busy these days, so the screencast will come later...

[2015-11-17 10:25] bhaugen commented on #1
@brauliobo does that mean in Noosfero-Ecosol everybody lives in the same database? I got the impression from @wvengen 's comment that Foodsoft cooperatives did not need to live in the same database, but could synchronize info anyway.

We ([NRP](https://github.com/valnet/valuenetwork), not food-specific) have shared databases that can contain networks of networks, but then we also have several inst

[2015-11-17 16:13] wvengen commented on #1
@bhaugen In Foodsoft indeed each cooperative has their own database, and can synchronize their articles with an external database. Right now that's a (mysql) database, but I would like to make it possible with an api as well ([beginning here, perhaps](http://community.openfoodnetwork.org/t/hackathon-to-attract-european-developers/386) using a standardized api). It is mostly used for large wholesal

[2015-11-17 16:30] bhaugen commented on #1
@wvengen thanks. Seems sensible to me.

We got a coop around us that is interested in rideshares for food: like, if you are going from here to there, take some of this food from this farm along to its destination.

And another set of farms that does some truck coordination.

Not much software support yet though.

[2015-11-17 19:28] pmackay commented on #1
This sounds like the kind of scenario where as a community a capabilities or microservices approach is worth looking at. Bit like Poplus.org (http://poplus.org/).

[2015-11-17 19:49] bhaugen commented on #1
That's also why we decided to move from food to trying to deal with all resources in a community. (If nobody else had stepped in to do food, we would have kept doing that, too.)

[2015-11-17 23:18] kirstenalarsen commented on #1
hi all

Just a note that we have a little software prototype for some food-ride-sharing stuff that was developed through some random hacks of kindness hackathons a couple of years ago. It’s standalone from ofn and hasn’t been live-tested / used (was very early days side project :)

We are just revisiting this at the moment, and are meeting up with 3-4 food hubs this friday to continue a discussion

[2015-11-17 23:28] bhaugen commented on #1
@kirstenalarsen thanks for the info.

I agree. Make it work.

[2015-11-18 18:07] brauliobo commented on #1
@bhaugen yes, from one specific and broad network. In our case, we start consumers' coop in a national network.

can't really understand why building a network of consumers' coops, just like github is for organizations and projects, can be a bad thing. That really make interactions easier to happen.

One thing that is to have nice URL, for example: http://cirandas.net/consumerscoop or http://consu

[2015-11-18 18:27] bhaugen commented on #1
Seems good to me.

[2015-11-18 19:14] cillian commented on #1
@bhaugen I can't give you a decent comparison as it's a crew size of 1 right now and I have only been using Gitlab for pushing commits really, I haven't used it for issues/pull requests etc. yet.

[2015-11-18 20:08] bhaugen commented on #1
Finally finally finally, I get a video produced. A little crude, I underestimated how long it would take google hangouts to start recording so my first couple of words got clipped. But you won't care, because they were just about where I planned to post the link.
https://www.youtube.com/watch?v=AzwO2VfORq4

If you are interested in either of the features, the recipes come from
https://github.com/v

[2015-12-16 15:10] wvengen opened #9 "Clarity on terminology"
Looking into different projects, there are differences between used words - sometimes subtle, sometimes substantial. To get some clarity on this, I've created an intial [terminology](https://github.com/ouisharelabs/food-dashboard/blob/master/TERMINOLOGY.md) document.

To anyone who has domain knowledge of a certain project: please add your project's terms. The current state is just a start, so fee

[2015-12-16 16:03] fosterlynn commented on #9
I'm not putting this into the terminology doc because I might be out of line for the topic, not sure.

Looking at the terminology, what jumps out for me is that it doesn't account for different perspectives, which is OK for an "enterprise" or one entity, but gets pretty tangled for a network.

For example, Supplier is a role between business entities/agents.  One entity/agent (like a farm or a hub

[2016-01-14 18:57] simonv3 commented on #1
I just want to point people in this thread to a conversation we're having about a crops database here: https://github.com/openfarmcc/Crops/issues/4 and also a crop icon set in the vain of font-awesome and iconic here https://github.com/openfarmcc/open-crop-icons

[2016-01-28 16:44] simonv3 commented on #1
Hey all,

I'm helping organize a conference on data called [CSVConf](http://csvconf.com/) which is about data management in general. We're currently looking for speakers and I think that the whole food ecosystem conversation should definitely make an appearance considering the problems and difficulties with taxonomy. We're looking for [talk proposals](https://docs.google.com/forms/d/1bXyiLVwhxLmlk

[2016-02-18 04:16] ghost commented on #6
A problem I've come across is within the dairy industry, where apparently investments have led to cows being milked several times a day, without time grazing 'naturally', resulting in very poor quality of life for the livestock.  Whilst dairy will always have implications there is a scale between 'best' or 'good' practice, and commercial practices which devalue an industry through significant anim

[2016-03-06 02:06] ghost opened #10 "Add Bee Sharing?"
EG: http://beesharing.de/

Found a bunch of other [links](https://www.google.com.au/search?q=bee%20sharing) but [Robotic Bees](http://www.businessinsider.com.au/harvard-robobees-closer-to-pollinating-crops-2014-6) does not seem like the best answer

[2016-04-21 00:31] Selmo-OFN commented on #1
Hi everyone. I just wanted to share that OFN now has a really great, short, little screencast explaining how it all works. Enjoy:
[https://youtu.be/eA3IcMUnU14](https://youtu.be/eA3IcMUnU14)

[2016-04-21 16:03] almereyda commented on #1
@simonv3 Is this offer still open?

I would be able to present the role of food networks from a @transformap perspective.

[2016-04-21 16:11] bhaugen commented on #1
@Selmo-OFN thanks for the screencast. Sorry to be slow to respond. We been swamped with work (which is a good problem to have). Will watch with popcorn next movie night.

[2016-04-21 18:41] simonv3 commented on #1
@almereyda - the conference CFP closed a while ago as it takes place in two weeks, but if you're near Berlin you should still go!

[2016-05-09 22:50] elf-pavlik commented on #1
Thanks @Selmo-OFN , very cool screencast!

My apologies everyone for not keeping the momentum here :disappointed: I'll start picking it up from making a nice gallery out of all your amazing screencasts and proposing template for feature comparison matrix.

We should also continue with [Terminology in food infrastructure](https://github.com/ouisharelabs/food-dashboard/blob/master/TERMINOLOGY.md) st

[2016-06-20 03:54] turinval opened #11 "Stock and Flow models for food capital"
Food is a type of capital, which is often lumped together with other types. So most people are unable to access the currency able to get them sustenance. I worked on ecological modeling motivated by sharing. In a large sense it looks to me like humans are good sharers.

I am basically building aquaponics and permaculture systems for the reason of food production. I am trying to figure out what sof

[2016-06-21 13:48] fosterlynn commented on #11
Here is some open source software for production of anything, called NRP (Network Resource Planning).  It is for people doing next-economy experiments.  It is a working prototype, has a lousy UI, but is a full featured ERP (enterprise resource planning) for networks, and is working in daily use.  It supports any types of resources, recipes for production planning, accounting and resource distribut

[2016-08-23 14:49] ghost commented on #1
working on civics ontology atm, have previously noted animal treatment https://github.com/ouisharelabs/food-dashboard/issues/6  but have a few questions about the concept of civics and food supply.

I'm mind-mapping here: https://drive.mindmup.com/map/0B_-AWWDVv3V2YWgzdkd2Vlo4ZG8 and adding (atm) to:  https://github.com/schemaorg/schemaorg/issues/254

under civics:welfare:food (or nutrition) an ar

[2016-11-18 14:18] tiltec commented on #1
Just learned about this. I'm coming from yunity.org, coding on the [foodsaving tool](https://github.com/yunity/foodsaving-frontend). It will basically be a multi-language version of foodsharing.de to let communities organize their foodsaving from supermarkets, merchants etc (usually without any money involved).
I could imagine providing an API endpoint where other platforms can get information abo

[2016-11-18 14:25] bhaugen commented on #1
Hi @tiltec - @elf-pavlik has been talking to us about Yunity, and I think @almereyda is already engaged.

I just joined your slack channel but have not introduced myself yet: partly looking around so I can get a sense for what is going on, and partly been too busy.

[More edits to add links]
But everything Yunity is doing fits in [valueflows](https://valueflo.ws/) somewhere.

Sure. @almereyda - do

[2016-11-18 14:37] elf-pavlik commented on #1
Hi @tiltec great to see you here!

As you can see in [Roadmap](https://github.com/ouisharelabs/food-dashboard#roadmap) I proposed as basic exercise to aggregate maps of locations and calendars of events (with their locations).

When it comes to API, since we have situation where unbound number of client applications need to interoperate with unbound number of server services, we need rely on disco

[2016-11-19 00:55] almereyda commented on #1
After skimming through elf's slides and the links in the linked conversation, I feel tempted to ask for a simple linklist `txt` and redo a written narrative of said presentation as a remix.

The Roadmap formulates roles which could be deployed by different _squads_. I feel maps are indeed an inherent TransforMap quality, while I believed http://metacollect.de to be a fair source of events once the

[2016-11-21 13:00] dtygel opened #12 "Responsa: an opensource Android app for responsible consumption"
Hi all,

If you're interested, we've developped and launched RESPONSA, an app for responsible consumption. There you can find, in Brazil, community gardens, collective consumption groups, solidarity economy initiatives, restaurants with organic ingredients, agroecology initiatives, organic markets and fairs, cultural collectives and more from 10 maps which are external sources, besides the suggest

[2017-02-03 23:51] mstenta commented on #1
Hi all, @elf-pavlik linked me to this conversation. I am developing an open source farm management system called farmOS (http://farmOS.org).

I recently made a series of mini screencasts of various features that are currently included in farmOS. I would love to hear any feedback this group can provide! Thanks for inviting me @elf-pavlik!

Dashboard: https://farmier.github.io/nofa2016/img/demos/far

[2017-02-03 23:59] bhaugen commented on #1
I love Farmos and point it out to people endlessly...

On Fri, Feb 3, 2017 at 5:51 PM, Michael Stenta <notifications@github.com>
wrote:

[2017-02-04 00:02] mstenta commented on #1
Thanks @bhaugen ! :-D

I'm at PASA's Farming for the Future Conference right now - my colleague Dorn and I gave a 3.5 hour session on farmOS and people were very excited! It is still early in the development, in my opinion, and there is a lot to do! But it's great to see the community starting to build!

[2017-02-04 00:16] bhaugen commented on #1
@elf-pavlik thanks for connecting the farmos folks up here.

[2017-02-06 16:09] djodjoni commented on #1
@mstenta nice work! It's great to see various open sourced solutions for all the parts of the food cycle :)

[2017-02-06 19:49] burisu commented on #1
Hi everyone, like @mstenta I'm working on an open source farm management system. Its name is [Ekylibre](https://github.com/ekylibre/ekylibre) like the [company](https://ekylibre.com) behind it. We published some [tutes](https://www.youtube.com/watch?v=SL04FexmczA&list=PLF0wyPtvVH1zKRD6YQH23bzdymMYF2RwX) on YouTube, but all in french for now. A [demo](https://demo.ekylibre.farm) is available too.

[2017-02-06 19:55] bhaugen commented on #1
Yay! More farm systems! @burisu looks like you and @mstenta should talk and tell the rest of us about the potentials for ag data interoperability.

[2017-02-07 13:46] mstenta commented on #1
@bhaugen Agreed! @burisu I would love to chat sometime and compare notes. It would be great if we could find ways to combine our efforts. Does Ekylibre have an API for other software to communicate with it?

[2017-02-09 18:48] elf-pavlik commented on #1
I'd like that we start talking about APIs little more. Thinking about prototyping a food-dashboard I see it as a [Progressive Web App](https://developers.google.com/web/progressive-web-apps/) which uses CORS and interacts with unbound number of different backend services each of those services potentially developed independently, using all kinds of different programming languages and frameworks.

[2017-02-10 11:39] gandhiano commented on #1
Ecobytes was also working on/supporting a project for building up a seeds inventory/exchange platform. The project is called [plantei.eu](https://github.com/ecobytes/plantei.eu-website) (Portuguese for I seeded) and won a social business prize.

I believe it could benefit from linkages with other food platforms/software. Development (Laravel based) seems to be currently stalled, but I thought of m

[2017-02-12 20:08] mstenta commented on #1
farmOS is built on Drupal (http://drupal.org), and we are currently including the Drupal RESTful Web Services module (http://drupal.org/project/restws), which provides REST API endpoints for all of the entity types in farmOS. I am currently in the process of upgrading farmOS to Drupal 8, which has a much more robust API system built-in, and there is lots of new development happening around it curr

[2017-02-12 20:37] djodjoni commented on #1
:+1: for the REST API :) have you seen [agrovoc drupal module](https://www.drupal.org/project/agrovoc)? Agrovoc is awfully huge, but you could reuse and expose/link part of the taxonomies specified there. It could be nice for discoverability by other web agents aware of agrovoc.

[2017-02-12 20:44] mstenta commented on #1
@djodjoni I have seen the Agrovoc project, yes! In fact I just began emailing with one of the people involved in it - to explore if/how it might fit into farmOS. Have you worked with it at all? I'd love to hear what your thoughts are on it!

[2017-02-12 22:35] djodjoni commented on #1
@mstenta I haven't really used the Drupal module from a user point of view. I was mainly investigating the [vocabulary](https://aims-fao.atlassian.net/wiki/display/AGV/Releases) it is built on and some [other related ontologies](https://github.com/openthings-cc/openthings-food)

[2017-02-16 16:48] e-Amine commented on #1
HI All,

I'm Amine working for GS1 https://en.wikipedia.org/wiki/GS1
I discovered this project after meeting Myriam from openfoodnetwork.org , We are working on some similar issues, and trying to invent a global language "Open standard" for business to solve theses issues .
As a non profit organisation working on open standard we are interested to collaborate on this project.

[2017-02-16 17:19] bhaugen commented on #1
@e-Amine you might also be interested in the [Value Flows project](https://valueflo.ws/) which pops in here to collaborate now and then, too. I collaborated with some people from UCC, GS1's previous identity, in the early 2000's, and I see a lot of overlap between all three of these projects. (One of the predecessors to Value Flows was this [food network software project](https://github.com/bhauge

[2017-02-16 17:49] djodjoni commented on #1
@e-Amine do you have something already done? I'd love to work with anybody who is trying to tackle those issues. The think is that many has invented global open standards but people and business are not using them too much. I believe because of the combination of details/comlexity and that it is global :) Btw are you located in Brussels?

[2017-02-17 10:00] e-Amine commented on #1
**@djodjoni** GS1 have already developed some open standard that are already deployed massively, here are some example :

- Product Identification via GTIN (Global Trade Item Number) : http://www.gs1.org/1/gtinrules/en/
- Products classification via GPC (Global product classification) : http://www.gs1.org/gpc/
- Trade Item data model description and share via GDSN ( Global Data Network Synchronisa

[2017-02-17 11:59] djodjoni commented on #1
@e-Amine thx for the detailed info! There is really a lot of information and different versions as well. Do you know is there an easy way to identify who has adopted GPC for example and which version do they use.
Also I see lots of similarities and slo differences from GPC and agrovoc for example I will try to match those when I have time. Do you have some more machine readable format for GPC like

[2017-02-17 22:35] turinval opened #13 "Minsky system dynamics software and agriculture"
HOw would one integrate an agri dashboard with an accounting system? And how would one integrate that into an economic model. Minsky system dynamics is based on Steve Keen's Minsky software. An open source tool to provide extensive collaboration in the agriculture exchanges.

The dependence on subsidies for example is an example of where economic models can help farms figure out optimal decisions

[2017-02-18 01:05] djodjoni commented on #1
I'm starting to gather my memories back so here my thoughts related to some already existing ontologies.  https://github.com/openthings-cc/openthings-food .  I'll update that in the next several days.  I will continue with this memory dump of mine in the direction of what I have dreamed for collaboration: reasons, advantages and possible options for actual implementation, which is based on that ht

[2017-02-18 13:34] bhaugen commented on #1
I'd be interested in collaborating on all aspects of food chains and
recipes.

Some examples:
https://github.com/valueflows/valueflows/blob/master/use-cases/best-whole-wheat-bread.md
https://github.com/valueflows/valueflows/blob/master/use-cases/dhen-value-flow.md
https://speakerdeck.com/mikorizal/5-nrp-recipe-concepts-and-tutorial

On Fri, Feb 17, 2017 at 7:05 PM, Kalin Maldzhanski <notifications

[2017-02-18 14:37] bhaugen commented on #13
In the [Value Flows](https://valueflo.ws/) we are working on an economic model and vocabulary that (we think) can handle agriculture as well as all other aspects of economic relationships. Our work is roughly based on an ISO standard economic and accounting ontology. We've had some discussions about how to generate the typical accounting reports from it. For example:
https://github.com/valueflows/

[2017-02-18 21:12] turinval commented on #13
Yes I am very interested in agri modelling! Our main problem is a lack of being able to track down the dynamics and thus make the correct equations.

[2017-02-18 23:24] turinval commented on #13
[PAPERMinskyDynamicIndicators.docx](https://github.com/ouisharelabs/food-dashboard/files/785403/PAPERMinskyDynamicIndicators.docx)

[2017-02-20 02:43] djodjoni commented on #1
@bhaugen thx for the reply and examples :)
I see this happening in 2 basic stages:

1) static stage where data about Actors is shared so then Actors can be discovered and connect to each other in order to plan a flow
2) dynamic flow management when the flow is actually flowing and different parties receive events

For 1) I am working on a simple service where anybody can put linked data for Actors

[2017-02-21 19:59] bhaugen commented on #1
@djodjoni I'll just comment on this part now, and will provide some feedback on your Owl later.

Often 1) is preceded by, or evolves into, 0) a recipe (in VF terms) or a supply chain or value network model which defines the resource flows between the actors and then is used to generate plans.
[This describes the pattern and algorithm](http://hillside.net/plop/plop97/Proceedings/haugen.pdf). (Writt

[2017-02-21 21:59] turinval commented on #13
I feel a lot of the economics stuff in Minsky would be a huge catalysis for these projects of value accounting and ontology systems.

[2017-02-21 22:34] bhaugen commented on #13
Here's something I wrote in 2005, before a lot of the projects we're working on now. It might fit into Minsky.
http://mikorizal.org/BeyondTheEnterprise.html
Or not, I don't really understand Minsky yet, but like a lot of the glimpses I've seen. Which is why I'd like to follow along if you do something with agriculture or value accounting and Minsky. And I mean follow. I might be able to get some d

[2017-02-21 23:35] djodjoni commented on #1
@bhaugen thx for the doc!
In fact by 1) I mostly meant a disconnected map/directory of Actors, used primary to discover each other in order to form or connect to a value network then it comes the recipe, planning and my 2) observation and management

In VF we discuss all this but without 1) where it is assumed as done and there are sufficient Actors to form a chain, but in practice this is not tri

[2017-02-21 23:46] bhaugen commented on #1
@djodjoni

The [MutualAidNetworks](http://www.mutualaidnetwork.org/) are going through that stage now. We just met with them for 4 days. They want to set up what we talked about in this VF issue:
https://github.com/valueflows/valueflows/issues/135

They're still using our old software for that stage, but have some big ideas about what to do next, that will be difficult with our old software archit

[2017-02-22 00:35] djodjoni commented on #1
nice !! i'm working on something simpler than that and specific to the food chains and using the provided vocab. the connections and interactions with a flow now are nor clear and this is why I am getting more involved in VF. My first stage is to be able to add/update data, version data and API to export to common e-commerce solutions or anything else for querying, analyses and visualization like

[2017-02-22 01:01] bhaugen commented on #1
@djodjoni

I think the main VF concepts and even repos might help factor out somewhat independent modules, although they are all interdependent in real life. We have some computer-science educated young people looking at our monolithic NRP software and wanting to refactor it, which was also one of the reasons we are working on VF.

[2017-02-22 12:41] djodjoni commented on #1
@bhaugen  :+1:

is this actually open ?

[2017-02-22 13:09] bhaugen commented on #1
@djodjoni

Everything we do is open source. That one now has three different groups working on forks of the original repo.

* Here's the original repo, still in use by Sensorica: https://github.com/valnet/valuenetwork
* Here's Freedom Coop's fork: https://github.com/FreedomCoop/valuenetwork
* Here's GoPacifia's fork of the Freedom Coop fork: https://github.com/gopacifia/DEEP
* And another offshoot

[2017-02-22 13:19] djodjoni commented on #1
nice i'll take look these days ! adding python to the scene. I like diversity :) I haven't seen anything in java yet I believe or .NET :)

[2017-02-22 13:36] bhaugen commented on #1
When we started working on NRP, nothing like it existed. Now I keep seeing more similar software all the time. I'll bet somethign exists in Java. But .NET might be culturally alien to the ideas...

[2017-02-22 13:41] djodjoni commented on #1
hahaha you never know :))

[2017-03-01 11:01] myriamboure commented on #1
Hi everyone!

For information, after having discussed on all that with @elf-pavlik and Sylvain Le Bon (not in this repo) a year ago, we are starting an initiative in France called DataFoodConsortium. We are various food platforms around the table, The Food Assembly ( @bedhed here but it's Nicolas Clavaud who is mainly involved), Cagette.net ( @bablukid ), Panier Local ( I don't think Ludovic is ye

[2017-03-01 13:10] enricostano commented on #1
We'll keep a close look at this too from [Katuma](http://katuma.org), a probably near future Open Food Network instance for Spain / Catalunya 💪

[2017-03-07 13:24] elf-pavlik commented on #1
Folks working with farming/growing, you may find this one interesting http://openag.media.mit.edu/user-interface/

[2017-06-13 16:15] ghost opened #14 "crop ontology"
http://www.cropontology.org/

[2017-06-20 15:36] almereyda commented on #1
I have just pointed @mrothauer at this issue, who is developer of https://github.com/foodcoopshop/foodcoopshop, used quite often in Austria.

[2017-06-20 21:57] mrothauer commented on #1
Thanks @almereyda for informing me about this issue. It's great to read that there are so many motivated people who try their best to make the world a better place.

https://github.com/foodcoopshop/foodcoopshop is an open source software that was mainly developed by myself, the project started in 2014. So far, about 10 food-coops are working with it and 8 of them are hosted and supported by me, al

[2017-06-21 13:37] myriamboure commented on #1
Some feedback from the Data Food Consortium project, where we are at and the first business ontology we came up with. http://datafoodconsortium.org/blog/building-a-common-language-our-semantic-business-concepts-model
A prototype is under development this summer to show a concrete application !

[2017-06-21 13:50] bhaugen commented on #1
Hi @myriamboure - that's really exciting and interesting. While I see you have rejected Value Flows as a base for what you are doing, would you mind if we try to map your model to the value flows model? Every time we do something like that, we learn something.

I think our ontologies are compatible, but value flows is necessarily more abstract and generic. When I was working on food network softwa

[2017-06-21 13:54] kirstenalarsen commented on #1
mea culpa - I said to @myriamboure in a meeting a week or two ago that I thought worth connecting with people in the USA who had done lots of thinking about this (I was primarily thinking of you), and I was meant to send contact details, and I forgot. Sorry! I don’t know if they ‘rejected’ value flows or didn’t know about the work you have done. apologies.

[2017-06-21 14:09] bhaugen commented on #1
Hi @kirstenalarsen ! Good to connect again. The article Myriam cited says they did know about valueflows and did not think it fit. I fully understand.

What's interesting to me now, from the valueflows perspective, is how to take a very generic economic ontology (we are trying to handle any and all economic activities) and tailor it for a particular domain.

One of my old colleagues, @jamestauber,

[2017-06-21 14:33] myriamboure commented on #1
@bhaugen actually I would love to try to converge the work we have been doing with the Value Flow, I contacted @elf-pavlik the other in order to do so, we don't want to do that job on our side but rather converge and integrate a more generic approach, but we wanted first to think about our specific need as a learning process and to make sure then if we converge to a more generic ontology, that it

[2017-06-21 15:21] bhaugen commented on #1
Seems like a good plan to me. @fosterlynn and I will discuss your model and I'll also add a valueflows issue about this topic and we'll see who all wants to participate. Don't expect fast, though...ok? Everybody has a lot going on. When do you leave for the farm?

[2017-06-21 16:41] djodjoni commented on #1
@myriamboure

this is a good idea 👍

[2017-06-21 17:11] bhaugen commented on #1
Ah, wonderful, here's @djodjoni ! of http://linked.farm/ !

[2017-06-21 17:55] myriamboure commented on #1
Yes @bhaugen we've been discussing a few times with @djodjoni :-) I leave on 1st July and will be there for two months, so either before July for a first discussion, or either after the summer would be great for me actually ;)

[2017-06-27 17:12] bhaugen commented on #1
@myriamboure I am writing some comments over in this value flows issue https://github.com/valueflows/valueflows/issues/229 for you and the VF gang to think about as you go on your farm adventure. Have a lovely two months!

[2017-06-28 18:34] almereyda commented on #1
I feel this thread could be split into a new 2017 edition similar to https://github.com/valueflows/valueflows/issues/172. Also I am dumping a link here:

[2019-09-29 16:34] pedrobuss commented on #1
Olá Braulio. Tudo bem? Como está este processo de trazer a OFN para o Brasil? Gostaria de conversar com você sobre isso. Abraço!

[2019-09-29 20:41] kirstenalarsen commented on #1
I have posted link to your message to ofn team in Brazil :)

[2019-09-30 21:41] rafaelbbraz commented on #1
@pedrobuss
Olá Pedro!

Estamos trabalhando nisso no momento!
Entra no canal Brazil do Slack no OFN, estamos postando as atualizações lá!
É sempre bom ter mais gente ajudando!

[2019-09-30 22:22] pedrobuss commented on #1
Oi @rafaelbbraz! Você pode compartilhar o link do Slack? Não consegui acessar pelos links que tem na OFN...

Legal! Vamos conversando...

[2019-10-01 22:57] brauliobo commented on #1
não mantenho mais mas dá um zap em 77 99151-5053 q ajudo :)